@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;600;700;800;900&family=Outfit:wght@300&display=swap');

body    {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Big Shoulders Display"; 
    background-color: var(--background);
}

:root   {
    --background: #FCFAF9;
    --almostblack: #151515;
    --gold: #D5966C;
    --white: white;
    --darkgray: #444444;
}

.button {
    display: flex;
    position: absolute;
}

.arrow {
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
}

.arrow-icon  {
    width: 8px;
    height: 24px;   
}


.img     {
    width: 100%;
    top: 0;
}

.location      {
    color: white;
    background-color: var(--almostblack);
    padding: 24px 35px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    text-transform: uppercase;
    text-decoration: none;
}

.first  {
    position: relative;
}

.second {
    padding: 48px 16px 52px 16px ;
    width: 100%;
    background-color: var(--almostblack);
}

.third  {

}

h2  {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--background);
}

h3  {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color:var(--gold)
}

p   {
    font-family: "outfit";
    color: var(--white);
}

.footer {
    background-color: var(--gold);
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}

.description-footer {
    color: var(--almostblack);
}
.icons  {
    display: flex;
    column-gap: 20px;
}

.icon   {
    background-color: var(--gold);
    fill: var(--almostblack);
}

.logo   {
    width: 110px;
    height: 40px;
}


