@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;600;700;800;900&family=Outfit:wght@300&display=swap');

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Big Shoulders Display"; 
    background-color: var(--background);
    overflow-x: hidden;
}

:root   {
    --background: #FCFAF9;
    --almostblack: #151515;
    --gold: #D5966C;
    --white: white;
    --darkgray: #444444;
}

.zebra-top  {
    width: 100%;
}

.main   {
    max-width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.intro  {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.headertext {
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: var(--almostblack)
}

.button {
    display: flex;
}

.button:hover .location   {
    background-color: var(--gold);
    cursor: pointer;
    transition: 1s;
}

.button:hover .arrow    {
    background-color: var(--almostblack);
    cursor: pointer;
    transition: 1s;
}

.arrow {
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
}

.arrow-icon  {
    width: 8px;
    height: 24px;   
}

p   {
    font-family: "outfit";
}

.location      {
    color: white;
    background-color: var(--almostblack);
    padding: 24px 35px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    text-transform: uppercase;
    text-decoration: none;
}

.description    {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--darkgray);
    margin-bottom: 32px;
}

.img, 
.img-mob, 
.header-img-mob     {
    width: 100%;
}

.img-tab,
.header-img-tab,
.middle-img,
.img-tab-last,
.header-img-des,
.img-des,
.middle-img-desk,
.black,
.img-des-last   {
    display: none;
} 

h2  {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
}

.middle {
    margin-top: 120px;
}

.textbox {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin-top: 25px;
    margin-bottom: 32px ;
}

.gallery    {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer     {
    width: 100%;
    background-color: var(--almostblack);
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}

.description-white-footer   {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}

.last   {
    background-color: var(--almostblack);
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
    row-gap: 24px;
    margin-bottom: 120px;
    margin-top: 16px;
}

.text-last  {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: var(--white);
}

.description-white  {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
}
.light  {
    width: 110px;
    height: 40px;
}


.icons  {
    display: flex;
    column-gap: 20px;
}
.icon   {
    fill: var(--background);
}

.icon:hover  {
    fill: var(--gold);
    cursor: pointer;
    transition: 1s;
}


@media screen and (min-width: 768px)  {
    body    {
        width: 100%;
        height: 100%;
        align-items: baseline;
    }
    
    .main   {
        padding: 0 40px;
        width: 100%;
    }
    
    .headertext {
        font-size: 70px;
        line-height: 65px;
    }

    .img-mob,
    .header-img-mob,
    .img-des-last    {
        display: none;
    }

    .img-tab-last   {
        display: block;
        width: 100%;
    }

    .header-img-tab    {
        display: inline-block;
        width: 56.5%;
        position: relative;
        left: 0%;
    }

    .intro  {
        position: absolute;
        width: 339px;
        height: 410px;
        right: 4.2vw;
        top: 7vh;
    }

    .headertext {
        margin-right: 10px;
    }

    .img-tab    {
        display: inline-block;
        width: 58%;
        height: auto;
    }

    .middle {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 13vw;
    }

    .middle-img {
        display: flex;
        width: 52%;
        order: 1;
    }

    .textbox    {
        width: 35%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .text   {
        width: 90%;
    }

    .last-img {
        width: 48%;
        display: flex;
        flex-direction: column;
        row-gap: 11px ;
    }

    .gallery    {
        display: flex;
        width: 100%;
        margin-top: 11px;
        flex-direction: row;
        column-gap: 11px;
        margin-bottom: 120px;
    }

    .last   {
        padding: 85px 28px;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .footer {
        display: flex;
        flex-direction: row;
        padding: 56px 39px;
    }

    .description-white-footer   {
        margin-left: 65px;
        margin-right: 133px;
    }

    .icon   {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1440px)   {
        
        body    {
            padding: 0;
            margin: 0;
        }
    
        .main   {
            padding: 0 165px;
            margin-top: 180px;
            margin-bottom: 180px;
        }

        .header-img-tab,
        .middle-img {
            display: none;
        }

        .header-img-des {
            display: inline-block;
            width: 38%;
        }

        .black  {
            display: inline-block;
            width: 31%;
            background-color: var(--almostblack);
        
        }

        .zebra-top  {
            width: 100%;
            display: flex;
        }

        .intro  {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            right: 0;
            margin:0 0 0 0;
            top: 190px;
        }

        .desc-text-button   {
            max-width: 350px;
            
        }

        .button {
            margin-top: 64px;
        }
      
        .description    {
            font-weight: 300;
            font-size: 22px;
            line-height: 32px;
        }

        .headertext {
            color: white;
            mix-blend-mode: difference;
            font-size: 96px;
            font-weight: 900;
            line-height: 88px;
            letter-spacing: 0px;
            margin: 0;
        }

        .middle {
            margin-top: 0;
            align-items: center;
        }

        .footer {
            padding: 80px 165px;
        }

        .description-white-footer   {
            margin-left: 140px;
            margin-right: 280px;
        }

        .middle-img-desk    {
            display: inline-block;
            width: 57%;
            order: 1;
        }

        .img-tab    {
            display: none;
        }

        .img-des     {
            display: block;
            width: 58%;
            margin-right: 2.45vw;
        }

        .img-tab-last   {
            display: none;
        }

        .img-des-last   {
            display: block;
            width: 100%;
        }
        
        .last-img   {
            width: 42%;
            row-gap:  2.45vh;
        }
        
        .gallery    {
            margin: 0;
            margin-top: 2.45vh;
        }
} 
